.top-line
	.top-line__container
		.top-line__welcome Welcome to our online shop
		.top-line__tools.tools
			.tools__language English (USD)
			.tools__login Login or Sign up
.header
	.header__container
		.header__wrapper
			a.header__logo(href="#") <img src="@img/logo.svg" alt="logo"/> Furniking
			.header__search
				input.header__search-input(value="search" type="text")
			.header__account
				button.header__account-item.header__cart(type="button")
					.header__count.header__count-cart 4
				button.header__account-item.header__notifications(type="button")
					.header__count.header__count-notifications 6
				button.header__account-item.header__user(type="button")

.hero
	.hero__container
		.hero__wrapper
			.hero__collections
			.hero__body
				.hero__menu.menu
					nav.menu__body
						ul.menu__list
							li.menu__item
								a.menu__link(href="#store ") Home
							li.menu__item
								a.menu__link#link(href="https://google.com") About
							li.menu__item
								a.menu__link(href="#blog") Blog
							li.menu__item
								a.menu__link(href="#account") Account
							li.menu__item
								a.menu__link(href="#login") login
				.hero__slider