.top-line
	.top-line__container
		.top-line__welcome Welcome to our online shop
		.top-line__tools.tools
			.tools__language English (USD)
			.tools__login Login or Sign up
.header
	.header__container
		a.header__logo(href="#") Logo
		.header__menu.menu
			nav.menu__body
				ul.menu__list
					li.menu__item
						a.menu__link(href="#store ") Home
					li.menu__item
						a.menu__link#link(href="https://google.com") About
					li.menu__item
						a.menu__link(href="#blog") Blog
					li.menu__item
						a.menu__link(href="#account") Account
					li.menu__item
						a.menu__link(href="#login") login
.hero
	.hero__container hero
