extends tpl/tpl

block vars
	- var title = "Home"

block content
	main.page.
		index



//-names
//- Isabella Anderson
//- Evangeline Ramirez
//- Arabella Mitchell
//- Seraphina Patel
//- Gabriella Reynolds